body{
    transition: background-color 0.3s, color 0.3s;
}
body.lightmode{
    background-color: #fff9f9;
    color: black;
}

body.darkmode{
    background-color: #0B2545;
    color: white;
}
.Matrises{
    display: flex;
    transition: background-color 0.3s, color 0.3s;
    padding: 20px;
    margin-bottom: 20px;
    overflow-y: auto;
    border-radius: 12px;
    justify-content: space-between;
    font-family: "Ubuntu";
}
.Matrises.lightmode{
    background-color: #e1e6dc;
}
.Matrises.darkmode{
    background-color: #1d5faf;
}

.Matrix{
    display: flex;
    flex-direction: column;
}

.MatHead{
    display: flex;
}

.headTitle{
    padding: 15px;
    transition: background-color 0.3s, color 0.3s;
}
.headTitle.lightmode{
    background-color: #F4ACB7;
    color: black;
}
.headTitle.darkmode{
    background-color: #08101c;
    color: white;
}

.array{
    transition: background-color 0.3s, color 0.3s;
    font-size: 25px;
    min-height: 150px;
    min-width: 250px;
}

#output {
    transition: background-color 0.3s, color 0.3s;
    font-size: 24px;
    padding: 10px;
    height: 400px;
    overflow-y: auto;
    border-radius: 5px;
    background: #05101c;
    color: #007e1b;
}

#output2{
    transition: background-color 0.3s, color 0.3s;
    font-size: 24px;
    padding: 10px;
    height: 250px;
    overflow-y: auto;
    border-radius: 5px;
    background: #05101c;
    color: #007e1b;
}

.sidebar {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 150px;
    position: fixed;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s, color 0.3s;
}
.sidebar.lightmode{
    background-color: #f2f2f2;
}
.sidebar.darkmode{
    background-color: #134074;
}

#MatrixPage {
  margin-left: 150px;
  padding: 1px 16px;
  height: 1000px;
}
#ODE {
  margin-left: 150px;
  padding: 1px 16px;
  height: 1000px;
}
.sidebarButton {
    font-size: 24px;
    transition: background-color 0.3s, color 0.3s;
    padding: 20px;
    border: 0;
}
.sidebarButton.lightmode{
    background-color: #f2f2f2;
    color: black;
}
.sidebarButton.darkmode{
    background-color: #134074;
    color: white;
}


.sidebarButton.lightmode:hover{
    font-size: 30px;
    background-color: #a4a4a4;
}
.sidebarButton.darkmode:hover{
    font-size: 30px;
    background-color: #0a2f58;
}
#matrixInput {
    height: 75px;
    width: 75px;
    margin: 5px;
}
#rows,#cols{
    width: 50px;
    height: 20px;
}
#submit{
    appearance: none;
    font-family:"Ubuntu";
    transition: background-color 0.3s, color 0.3s;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
}
#submit.lightmode{
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    color: black;
}
#submit.darkmode{
    background-color: #2e61c7;
    border: 1px solid #001368;
    color: white;
}
#submit:hover{
    background-color: #dbd2d2;
}
.input{
    display: flex;
    align-items: center;
}
.setInput {
    width: 100%; 
    padding: 10px; 
    margin: 10px 0; 
    transition: background-color 0.3s, color 0.3s;
    border-radius: 4px; 
    font-size: 13px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
.setInput.lightmode{
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    color: black;
}
.setInput.darkmode{
    background-color: #2e61c7;
    border: 1px solid #001368;
    color: white;
}

.setInput:focus {
    border-color: #007bff; 
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.setInput::placeholder{
    color: #aaaaaa;
}

textarea.setInput {
    resize: vertical;
    height: 100px;
}

.customselect {
    appearance: none;
    transition: background-color 0.3s, color 0.3s;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
}
.customselect.lightmode{
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    color: black;
}
.customselect.darkmode{
    background-color: #2e61c7;
    border: 1px solid #001368;
    color: white;
}

.customselect:focus {
    border-color: #007bff;
    outline: none;
}

.customselect::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%); 
    border: solid transparent; 
    border-width: 6px 6px 0;
    border-top-color: #333; 
    pointer-events: none; 
}


.arrow {
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
}

.arrow span {
    position: absolute;
    width: 20px;
    height: 4px;
    background: black;
    margin: 40px;
    transition: transform .25s ease;
    transform-origin: left center;
}

/*Right Arrow*/
.arrow span:first-child {
    transform: rotate(-135deg);
}

.arrow span:last-child {
    transform: rotate(135deg);
}

/*Down Arrow*/
.arrow.rotate span:first-child {
    transform: rotate(-45deg);
}

.arrow.rotate span:last-child {
    transform: rotate(-135deg);
}
