body{
    padding: 10px;
    margin: 30px;
}
.MatHead{
    display: flex;
}

.Matrix{
    display: flex;
    flex-direction: column;
}

.Matrises{
    display: flex;
    justify-content: space-between;
}